<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
    	<!-- 这里要写所有要入库的bean -->
        <typeAlias alias="Admin" type="com.gs.reusebook.bean.Admin"/>
        <typeAlias alias="Book" type="com.gs.reusebook.bean.Book"/>
        <typeAlias alias="CartItem" type="com.gs.reusebook.bean.CartItem"/>
        <typeAlias alias="DeliveryAddress" type="com.gs.reusebook.bean.DeliveryAddress"/>
        <typeAlias alias="Evaluation" type="com.gs.reusebook.bean.Evaluation"/>  
        <typeAlias alias="Goods" type="com.gs.reusebook.bean.Goods"/>
        <typeAlias alias="GoodsType" type="com.gs.reusebook.bean.GoodsType"/>
        <typeAlias alias="GoodsTypeRel" type="com.gs.reusebook.bean.GoodsTypeRel"/>
        <typeAlias alias="Order" type="com.gs.reusebook.bean.Order"/>
        <typeAlias alias="OrderItem" type="com.gs.reusebook.bean.OrderItem"/>
        <typeAlias alias="Seller" type="com.gs.reusebook.bean.Seller"/>
        <typeAlias alias="Shop" type="com.gs.reusebook.bean.Shop"/>
        <typeAlias alias="User" type="com.gs.reusebook.bean.User"/>
        <typeAlias alias="UserInfoInMarket" type="com.gs.reusebook.bean.UserInfoInMarket"/>
        
        <typeAlias alias="AuthBaseBean" type="com.gs.reusebook.bean.base.AuthBaseBean"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>