<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.reusebook.dao.BookTypeDao">

	<select id="selectAll" resultType="BookType" resultMap="normalBookTypeResultMap">
		SELECT * FROM tab_book_type
	</select>

	<select id="selectById" resultType="BookType" resultMap="normalBookTypeResultMap">
		SELECT * FROM tab_book_type WHERE id = #{typeId}
	</select>
	
	<insert id="insert" parameterType="BookType" keyProperty="id">
		INSERT
		INTO

		tab_book_type(
		id,
		name,
		base_name)

		VALUES (
		#{id},
		#{name},
		#{baseName})
	</insert>
	
	<resultMap type="com.gs.reusebook.bean.BookType" id="normalBookTypeResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="baseName" column="base_name" />
	</resultMap>
</mapper>