<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.BookDao">

	<select id="selectById" resultType="Book" resultMap="normalBookResultMap">
		SELECT * FROM tab_book WHERE id = #{id}
	</select>

	<!-- 解决bean字段和数据库列名不一致的问题， 需要用到此map的地方需要添加属性resultMap="userResultMap" 比如selectAll -->
	<resultMap type="com.gs.reusebook.bean.Book" id="normalBookResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="name" column="name" />
		<result property="author" column="author" />
		<result property="isbn" column="isbn" />
	</resultMap>

</mapper>