<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.GoodsDao">

	<select id="selectAndPagedByName" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE NAME LIKE #{name} LIMIT #{offset},#{limit}
	</select>

	<select id="selectById" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE id = #{id}
	</select>

	<update id="updateCount">
		UPDATE tab_goods SET count = #{count} WHERE id = #{id}
	</update>

	<select id="selectByIds" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
        </foreach>
	</select>

	<resultMap type="com.gs.reusebook.bean.Goods" id="normalGoodsResultMap">
		<id property="id" column="id" />
		<result property="realGoodsId" column="real_goods_id" />
		<result property="sellerId" column="seller_id" />
		<result property="linkTable" column="link_table" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="count" column="count" />
	</resultMap>

</mapper>