<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.reusebook.dao.GoodsDao">

	<select id="selectCountByName" resultType="Integer">
		SELECT count(*) FROM tab_goods WHERE name LIKE #{name}
	</select>

	<select id="selectCountBySellerId" resultType="Integer">
		SELECT count(*) FROM tab_goods WHERE seller_id = #{sellerId} AND name LIKE #{name}
	</select>
	
	<select id="selectIdsBySellerId" resultType="String">
		SELECT id FROM tab_goods WHERE seller_id = #{sellerId}
	</select>
	
	<select id="selectAndPagedBySellerId" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE seller_id = #{sellerId} AND name LIKE #{name} LIMIT #{offset},#{limit}
	</select>
	
	<select id="selectAndPagedByName" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE name LIKE #{name}
		<if test="amap.price != null">
			<![CDATA[ AND price < #{amap.price} ]]>
		</if>
		LIMIT #{offset},#{limit}
	</select>

	<select id="selectById" resultType="Goods" resultMap="goodsWithTypesResultMap">
		SELECT 
		  g.`id` id,
		  g.`real_goods_id` ,
		  g.`count` `count`,
		  g.`img_url` img_url,
		  g.`link_table` link_table,
		  g.`name` `name`,
		  g.`price` price,
		  g.`seller_id` seller_id,
		  g.`via` via,
		  t.`base_name` base_name,
		  t.`id` type_id_pk,
		  t.`name` type_name,
		  t.`link_table` type_link_table
		FROM
		  `tab_goods` g,
		  `tab_goods_type_rel` tr,
		  `tab_goods_type` t 
		WHERE g.`id` = tr.`goods_id` 
		  AND tr.`type_id` = t.`id` 
		  AND g.`id` = #{id}
	</select>

	<update id="updateCount">
		UPDATE tab_goods SET count = #{count} WHERE id = #{id}
	</update>

	<update id="updateField">
		UPDATE tab_goods SET ${name} = #{value} WHERE id = #{id}
	</update>
	
	<select id="selectByIds" resultType="Goods" resultMap="normalGoodsResultMap">
		SELECT * FROM tab_goods WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
        </foreach>
	</select>
	
	<insert id="insertGoods" parameterType="Goods" keyProperty="id">
		INSERT INTO 
		tab_goods(
		id,
		real_goods_id,
		seller_id,
		link_table,
		name,
		price,
		count,
		img_url,
		via,
		description) 
		VALUES(
		#{id},
		#{realGoodsId},
		#{sellerId},
		#{linkTable},
		#{name},
		#{price},
		#{count},
		#{imgUrl},
		#{via},
		#{description})
	</insert>
	
	<delete id="deleteGoods" parameterType="String">
		DELETE FROM tab_goods WHERE id = #{id}
	</delete>
	
	<resultMap type="com.gs.reusebook.bean.Goods" id="normalGoodsResultMap">
		<id property="id" column="id" />
		<result property="realGoodsId" column="real_goods_id" />
		<result property="sellerId" column="seller_id" />
		<result property="linkTable" column="link_table" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="count" column="count" />
		<result property="imgUrl" column="img_url" />
		<result property="via" column="via" />
	</resultMap>

	<resultMap type="com.gs.reusebook.bean.Goods" id="goodsWithTypesResultMap">
		<id property="id" column="id" />
		<result property="realGoodsId" column="real_goods_id" />
		<result property="sellerId" column="seller_id" />
		<result property="linkTable" column="link_table" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="count" column="count" />
		<result property="imgUrl" column="img_url" />
		<result property="via" column="via" />
		<collection property="types" javaType="ArrayList" ofType="com.gs.reusebook.bean.GoodsType">
			<id property="id" column="type_id_pk" />
			<result property="name" column="type_name" />
			<result property="baseName" column="base_name" />
			<result property="linkTable" column="type_link_table" />
		</collection>
	</resultMap>
</mapper>