<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.reusebook.dao.OrderItemDao">

	<insert id="insertOrderItem" parameterType="OrderItem" keyProperty="id">
		INSERT INTO
		tab_order_item(
		id,
		order_id,
		goods_id,
		goods_count,
		status
		)
		VALUES (
		#{id},
		#{orderId},
		#{goodsId},
		#{goodsCount},
		#{status})
	</insert>

	<update id="updateStatus">
		UPDATE tab_order_item SET status = #{status} WHERE id = #{id}
	</update>
	
	
	<select id="selectById" parameterType="String" resultType="OrderItem" resultMap="normalOrderItemResultMap">
		SELECT * FROM tab_order_item WHERE id = #{id}
	</select>
	
	<select id="selectByOrderId" parameterType="String" resultType="OrderItem" resultMap="normalOrderItemResultMap">
		SELECT * FROM tab_order_item WHERE order_id = #{id}
	</select>
	
	<delete id="deleteOrderItem" parameterType="String">
		DELETE FROM tab_order_item WHERE id = #{id}
	</delete>
	
	<resultMap type="com.gs.reusebook.bean.OrderItem" id="normalOrderItemResultMap">
		<id property="id" column="id" />
		<result property="orderId" column="order_id" />
		<result property="goodsId" column="goods_id" />
		<result property="goodsCount" column="goods_count" />
		<result property="status" column="status" />
	</resultMap>
</mapper>