<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.reusebook.dao.OrderDao">

	<select id="selectCountById" resultType="Integer">
		SELECT count(*) FROM tab_order WHERE id like #{id} 
	</select>
	
	<select id="selectCountBySellerId" resultType="Integer">
		SELECT count(*) FROM tab_order WHERE seller_id = #{sellerId} 
	</select>
	
	<select id="selectCountByUserId" resultType="Integer">
		SELECT count(*) FROM tab_order WHERE user_id like #{user_id} 
	</select>
	
	<select id="selectAndPagedById" resultType="Order" resultMap="orderResultMap">
		SELECT 
		  o.id id,
		  o.user_id user_id,
		  o.seller_id seller_id,
		  s.username seller_name,
		  u.username user_name,
		  o.address address,
		  o.total_price total_price,
		  o.create_time create_time,
		  i.id order_item_id,
		  i.order_id order_id,
		  i.goods_id goods_id,
		  i.goods_count goods_count,
		  g.id goods_id_pk,
		  g.name goods_name,
		  g.img_url goods_img_url 
		FROM
		  tab_order o,
		  tab_seller s,
		  tab_user u,
		  tab_order_item i,
		  tab_goods g 
		WHERE o.id like #{id} 
		  AND s.id = o.seller_id
		  AND u.id = o.user_id 
		  AND i.order_id = o.id 
		  AND i.goods_id = g.id
		LIMIT #{offset},#{limit} 
	</select>
	
	<select id="selectAllBySellerId" resultType="Order" resultMap="orderResultMap">
		SELECT 
		  o.id id,
		  o.user_id user_id,
		  o.seller_id seller_id,
		  s.username seller_name,
		  u.username user_name,
		  o.address address,
		  o.total_price total_price,
		  o.create_time create_time,
		  i.id order_item_id,
		  i.order_id order_id,
		  i.goods_id goods_id,
		  i.goods_count goods_count,
		  i.status goods_status,
		  g.id goods_id_pk,
		  g.name goods_name,
		  g.img_url goods_img_url,
		  g.price goods_price
		FROM
		  tab_order o,
		  tab_seller s,
		  tab_user u,
		  tab_order_item i,
		  tab_goods g 
		WHERE o.seller_id = #{sellerId} 
		  AND s.id = o.seller_id
		  AND u.id = o.user_id 
		  AND i.order_id = o.id 
		  AND i.goods_id = g.id 
		LIMIT #{offset},#{limit} 
	</select>

	<select id="selectAllByUserId" resultType="Order" resultMap="orderResultMap">
		SELECT 
		  o.id id,
		  o.user_id user_id,
		  o.seller_id seller_id,
		  s.username seller_name,
		  u.username user_name,
		  o.address address,
		  o.total_price total_price,
		  o.create_time create_time,
		  i.id order_item_id,
		  i.order_id order_id,
		  i.goods_id goods_id,
		  i.goods_count goods_count,
		  i.status goods_status,
		  g.id goods_id_pk,
		  g.name goods_name,
		  g.img_url goods_img_url ,
		  g.price goods_price
		FROM
		  tab_order o,
		  tab_seller s,
		  tab_user u,
		  tab_order_item i,
		  tab_goods g 
		WHERE o.user_id = #{userId} 
		  AND s.id = o.seller_id
		  AND u.id = o.user_id 
		  AND i.order_id = o.id 
		  AND i.goods_id = g.id 
		LIMIT #{offset},#{limit} 
	</select>

	<select id="selectByUserIdAndGoodsId" resultType="Order" resultMap="orderResultMap">
		SELECT 
		  o.id id, 
		  o.user_id user_id, 
		  o.seller_id seller_id, 
		  i.id order_item_id, 
		  i.order_id order_id, 
		  i.goods_id goods_id, 
		  i.goods_count goods_count
		FROM tab_order o, tab_order_item i 
		WHERE user_id = #{userId} AND i.order_id = o.id AND i.goods_id = #{goodsId}
	</select>

	<select id="selectById" parameterType="String" resultType="Order" resultMap="normalOrderResultMap">
		SELECT * FROM tab_order o WHERE id = #{id}
	</select>

	<select id="selectByItemId" parameterType="String" resultType="Order" resultMap="normalOrderResultMap">
		SELECT 
		  o.*
		FROM
		  tab_order o,
		  tab_order_item oi 
		WHERE o.id = oi.order_id 
		  AND oi.id = #{itemId}
	</select>
	
	<insert id="insertOrder" parameterType="Order" keyProperty="id">
		INSERT INTO
		tab_order(
		id,
		user_id,
		seller_id,
		address,
		create_time,
		total_price)
		VALUES (
		#{id},
		#{userId},
		#{sellerId},
		#{address},
		#{createTime},
		#{totalPrice})
	</insert>
	
	<delete id="deleteOrder" parameterType="String">
		DELETE FROM tab_order WHERE id = #{id}
	</delete>
	
	<resultMap type="com.gs.reusebook.bean.Order" id="orderResultMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="sellerId" column="seller_id" />
		<result property="sellerName" column="seller_name" />
		<result property="userName" column="user_name" />
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
		<result property="totalPrice" column="total_price" />
		<collection property="orderItems" column="order_id" ofType="com.gs.reusebook.bean.OrderItem">
			<id property="id" column="order_item_id" />
			<result property="orderId" column="order_id" />
			<result property="goodsId" column="goods_id" />
			<result property="goodsCount" column="goods_count" />
			<result property="status" column="goods_status" />
			
			<association property="goods"  javaType="com.gs.reusebook.bean.Goods" >
				<id property="id" column="goods_id_pk" />
				<result property="name" column="goods_name" />
				<result property="imgUrl" column="goods_img_url" />
				<result property="price" column="goods_price" />
			</association>
			
		</collection>
	</resultMap>
	
	<!-- 不带orderItems的返回映射 -->
	<resultMap type="com.gs.reusebook.bean.Order" id="normalOrderResultMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="sellerId" column="seller_id" />
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
		<result property="totalPrice" column="total_price" />
	</resultMap>
	
</mapper>