<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.SellerDao">

	<select id="selectAndPagedByName" resultType="User" resultMap="normalSellerResultMap">
		SELECT * FROM tab_seller WHERE username like #{username} LIMIT #{offset},#{limit}
	</select>
	
	<select id="selectCountByName" resultType="Integer">
		SELECT count(*) FROM tab_seller WHERE username LIKE #{username}
	</select>
	
	<insert id="insert" parameterType="Seller" keyProperty="id">
		insert
		into

		tab_seller(
		id,
		username,
		password,
		create_time)

		values (
		#{id},
		#{username},
		#{password},
		#{createTime})
	</insert>

	<update id="updatePassword">
		update tab_seller set password = #{password} where id = #{id}
	</update>
	
	<select id="selectByName" parameterType="String" resultType="Seller" resultMap="normalSellerResultMap">
		SELECT * FROM tab_seller WHERE BINARY username = #{username}
	</select>
	
	<delete id="deleteSeller" parameterType="String">
		DELETE FROM tab_seller WHERE id = #{id}
	</delete>


	<select id="selectByGoodsId" parameterType="String" resultType="Seller" resultMap="normalSellerResultMap">
		SELECT * FROM tab_seller s,tab_goods g WHERE g.id = #{goodsId} AND s.id = g.seller_id
	</select>
	
	<select id="selectById" parameterType="String" resultType="Seller" resultMap="normalSellerResultMap">
		SELECT * FROM tab_seller WHERE id = #{id}
	</select>
	
	<resultMap type="com.gs.reusebook.bean.Seller" id="normalSellerResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
	</resultMap>
	

</mapper>