<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.UserInfoDao">

	<insert id="insertInfoInMarket" parameterType="UserInfoInMarket" keyProperty="id">
		INSERT
		INTO

		tab_user_info_in_market(
		id,
		user_id)

		VALUES (
		#{id},
		#{userId})
	</insert>

</mapper>