<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.UserDao">

	<update id="updatePassword">
		update tab_user set password = #{password} where id = #{id}
	</update>
	
	<select id="getUserInfoInMarketByUserId" parameterType="String" resultType="UserInfoInMarket" 
		resultMap="normalUserInfoInMarketResultMap">
		SELECT * FROM tab_user_info_in_market WHERE user_id = #{userId}
	</select>

	<!-- 如果有重复列则必须起别名，否则赋值会错乱 -->
	<select id="getUserInfoInMarketWithAddressByUserId"	parameterType="String" resultType="UserInfoInMarket"
		resultMap="userInfoInMarketWithAddressResultMap">
		SELECT ui.id, ui.user_id, a.id address_id, a.user_info_id, a.address
		FROM tab_user_info_in_market ui, tab_delivery_address a 
		WHERE ui.user_id = #{userId} AND ui.id = a.user_info_id
	</select>
	
	<insert id="insert" parameterType="User" keyProperty="id">
		insert
		into

		tab_user(
		id,
		username,
		password,
		create_time,
		mail)

		values (
		#{id},
		#{username},
		#{password},
		#{createTime},
		#{mail})
	</insert>

	<select id="selectById" resultType="User" resultMap="normalUserResultMap">
		SELECT * FROM tab_user WHERE id = #{id}
	</select>

	<select id="selectAll" resultType="User" resultMap="userResultMap">
		select * from tab_user
	</select>


	<select id="selectByName" parameterType="String" resultType="User">
		SELECT * FROM tab_user WHERE BINARY username = #{username}
	</select>
	
	<select id="selectAndPagedByName" resultType="User" resultMap="userResultMap">
		SELECT * FROM tab_user WHERE username like #{username} LIMIT #{offset},#{limit}
	</select>
	
	<select id="selectCountByName" resultType="Integer">
		SELECT count(*) FROM tab_user WHERE username LIKE #{username}
	</select>

	<delete id="deleteUser" parameterType="String">
		delete from tab_user where id = #{id}
	</delete>

	<resultMap type="com.gs.reusebook.bean.User" id="normalUserResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
		<result property="mail" column="mail" />
	</resultMap>
	<!-- 解决bean字段和数据库列名不一致的问题，
	需要用到此map的地方需要添加属性resultMap="userResultMap"
	比如selectAll -->
	<resultMap type="com.gs.reusebook.bean.User" id="userResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
		<result property="mail" column="mail" />
		<!-- 购物车list -->
		<collection property="cartItems" column="user_id" ofType="com.gs.reusebook.bean.CartItem">
			<id property="id" column="id" />
			<result property="userId" column="user_id" />
			<result property="goodsId" column="goods_id" />
			
			<!-- 购物车关联的商品 -->
			<association property="goods" javaType="com.gs.reusebook.bean.Goods">
				<id property="id" column="id" />
				<result property="realGoodsId" column="real_goods_id" />
				<result property="sellerId" column="seller_id" />
				<result property="linkTable" column="link_table" />
				<result property="name" column="name" />
				
				<result property="price" column="price" />
				<result property="count" column="count" />
			</association>
			
		</collection>
	</resultMap>
	
	<!-- 带收货地址的返回值映射 -->
	<!-- 自动填充collection必须保证所有列的列名都不重复 -->
	<resultMap type="com.gs.reusebook.bean.UserInfoInMarket" id="userInfoInMarketWithAddressResultMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<collection property="deliveryAddresses" column="user_info_id" ofType="com.gs.reusebook.bean.DeliveryAddress">
			<id property="id" column="address_id" />
			<result property="userInfoId" column="user_info_id" />
			<result property="address" column="address" />
		</collection>
	</resultMap>
	
	<!-- 不带收货地址的返回值映射 -->
	<resultMap type="com.gs.reusebook.bean.UserInfoInMarket" id="normalUserInfoInMarketResultMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
	</resultMap>

</mapper>