<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里要改为某个bean的dao -->
<mapper namespace="com.gs.reusebook.dao.UserDao">

	<update id="updatePassword">
		update tab_user set password = #{password} where id = #{id}
	</update>
	
	<select id="getUserInfoInMarketByUserId" parameterType="String" resultType="User" 
		resultMap="normalUserInfoInMarketResultMap">
		SELECT * FROM tab_user_info_in_market WHERE user_id = #{userId}
	</select>
	
	
	
	<insert id="insertUser" parameterType="User" keyProperty="id">
		insert
		into

		tab_user(
		id,
		username,
		password)

		values (
		#{id},
		#{username},
		#{password})
	</insert>

	<select id="selectById" resultType="User" resultMap="normalUserResultMap">
		SELECT * FROM tab_user WHERE id = #{id}
	</select>

	<select id="selectAll" resultType="User" resultMap="userResultMap">
		select * from tab_user
	</select>

	<select id="selectUserWithCartItems" resultType="User" parameterType="String" resultMap="userResultMap">
		select *
		 from tab_user u, tab_cart_item c, tab_goods g 
		  where g.id = c.goods_id and u.id = c.user_id and u.id = #{userId}
	</select>

	<select id="selectByName" parameterType="String" resultType="User">
		select * from tab_user where username like #{username}
	</select>

	<delete id="deleteById" parameterType="String">
		delete from tab_user where
		id = #{id}
	</delete>

	<update id="updateUsername">
		update tab_user set username = #{username} where id =
		#{id}
	</update>

	<resultMap type="com.gs.reusebook.bean.User" id="normalUserResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<!-- 解决bean字段和数据库列名不一致的问题，
	需要用到此map的地方需要添加属性resultMap="userResultMap"
	比如selectAll -->
	<resultMap type="com.gs.reusebook.bean.User" id="userResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
		<!-- 购物车list -->
		<collection property="cartItems" column="user_id" ofType="com.gs.reusebook.bean.CartItem">
			<id property="id" column="id" />
			<result property="userId" column="user_id" />
			<result property="goodsId" column="goods_id" />
			
			<!-- 购物车关联的商品 -->
			<association property="goods" javaType="com.gs.reusebook.bean.Goods">
				<id property="id" column="id" />
				<result property="realGoodsId" column="real_goods_id" />
				<result property="sellerId" column="seller_id" />
				<result property="linkTable" column="link_table" />
				<result property="name" column="name" />
				
				<result property="price" column="price" />
				<result property="count" column="count" />
			</association>
			
		</collection>
	</resultMap>
	
	
	<resultMap type="com.gs.reusebook.bean.UserInfoInMarket" id="normalUserInfoInMarketResultMap">
		<!-- 用id标签来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result标签来映射非主键字段 -->
		<result property="userId" column="user_id" />
	</resultMap>

</mapper>